<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生信息管理系统</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <h3>显示数据</h3>
        <table border=1>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>联系方式</th>
                <th>操作</th>
            </tr>
            <tr v-for="obj,i in students">
                <td v-text='i'></td>
                <td v-for="value in obj" v-text='value'></td>
                <td>
                    <input type="button" value="del" @click='del(i)'>
                </td>
            </tr>
        </table>
        <h3>插入数据</h3>
        <p>
            姓名：<input type="text" v-model=name>  <br>
            性别：<input type="text" v-model=sex>  <br>
            tel：<input type="text" v-model=tel>  <br>
            <input type="button" value="提交" @click=add>
        </p>
    </div>
</body>
<script>
let vm = new Vue({
    el:"#app",
    data:{
        students:[
            {'name':'小白1',age:18,tel:13634563478},
            {'name':'小白2',age:18,tel:13634563478},
            {'name':'小白3',age:18,tel:13634563478},
            {'name':'小白4',age:18,tel:13634563478},
        ],
        name:"",
        sex:"",
        tel:"",
    },
    methods:{
        del(i){
            this.students.splice(i,1)
        },
        add(){
            this.students.push({
                name:this.name,
                sex:this.sex,
                tel:this.tel
            })
            this.name = "",
            this.sex="",
            this.tel=""
        }
    }
})

</script>
</html>