.btns{
    width:600px;
    height:50px;
    border:1px solid red;
}
.btns div{
    width:33.33%;
    height:50px;
    float:left;
    line-height: 50px;
    text-align: center;
}

.cons{
    width:600px;
    height:300px;
    border:1px solid red;
    position: relative;
}
.cons div{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}