*{
    margin:0;
    padding:0;
    list-style: none;
}
body{
    background: #CDCDCD;
}
.header{
    width:100%;
    height:50px;
    background-color:rgba(47,47,47,0.98);
}
.header .con{
    max-width: 620px;
    height: 100%;
    margin:0 auto;
}
.header .con h2{
    width:100px;
    height:100%;
    float:left;
    line-height: 50px;
    color: #DDD;
    font-size: 24px;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header .con input{
    width:60%;
    display: block;
    float:right;
    height:24px;
    margin-top:13px;
    text-indent: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.24), 0 1px 6px rgba(0,0,0,0.45) inset;
    outline: 0;
    border: none;
}
.main{
    max-width: 620px;
    height:500px;
    margin:0 auto;
    overflow: hidden;
}
.main h2{
    margin:20px 0;
}
.main h2 div{
    width:20px;
    height:20px;
    border-radius: 50%;
    float:right;
    background-color:#E6E6FA;
    line-height: 20px;
    text-align: center;
    color: #666;
    font-size: 14px;
}
.main>div>div{
    width:auto;
    height:32px;
    background-color:#fff;
    margin-bottom:10px;
    border-left: 5px solid #629A9C;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border-radius: 3px;
}
.main>div>div>input[type=checkBox]{
    width: 22px;
    height: 22px;
    cursor: pointer;
    display: block;
    float:left;
    margin-top:5px;
    margin-left: 10px;
}
.main>div>div>p{
    width:80%;
    height:32px;
    float:left;
    line-height: 32px;
    text-indent: 1em;
}
.main>.doneCon>div{
    border-left: 5px solid #999;
    opacity: 0.5;
}